<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<br>
<br>
<br>
<a href='#' id='example' rel='popover' data-animation="true" data-placement='left' data-html='true'
    data-content='<div><%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png"%></div><br>
    <span>Keem from Tamale, Ghana, just bought a playstation</span>'
    title=''>
</a>


<!-- <a href='#' id='example' rel='popover' data-animation="true" data-placement='left' data-html='true'
    data-content='<div><%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png"%></div><br>
    <span><%= @sale.customer_name %> from <%= @sale.customer_locality %>, <%= @sale.country_name %> purchased a <%= @line_item_name %></span>'
    title=''>
</a>
 -->
